{% extends "base.html" %}



{% block title %}
  Detay
{% endblock %}


{% block content %}
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ yazi.resim.url }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ yazi.baslik }}</h5>
          <p class="card-text">{{ yazi.icerik }}</p>
          <p class="card-text"><small class="text-muted">{{ yazi.duzenleme_tarihi}}</small></p>
        </div>
      </div>
    </div>
  </div>

{% if yorumlar %}
  {% for yorum in yorumlar %}
    <div class='card'>
      <div class='card-body' style='display-flex;flex-direction: row;'>
        <div>
          
          {% if yorum.yazar.avatar %}
          <img src="{{ yorum.yazar.avatar.url }}" class='rounded' class='pt-4' width="75px" height="75px">
          {% else %}
          <img src="" class='rounded' class='pt-4' width="75px" height="75px">
          {% endif %}
            
        </div>
        <div>
          <h5 class='card-title'>{{ yorum.yazar.username }}</h5>
          <p class='card-text'>{{yorum.yorum}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
  
{% endblock %}